table,
td,
th {
  border: 1px solid black;
  width: 600px;
  padding: 60px;
  /* margin-bottom: -122px; */
}

/* .mix1{
    border: 1px  black;
    width: 1px;
   
} */
td {
  background-color: rgb(158, 207, 109);
}
th {
  background-color: crimson;
}

.mix1 {
  background-color: blue;
}
