body{
    background-color: #fff !important;
    height: 5000px ;
}

.navbar-title{
    margin-bottom: 90px;
}
.navbar-brand img{
    margin-top: 30px ;
    width: 199.48px;
    height: 40px;
}
.navbar-custom a{
    height: 20px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #19191B;
    

}

.button-custom{
    width: 200px;
    height: 50px;
    background-color:  #FF7143 !important;
    border-radius: 10px !important;
    color: #fff !important;
    border: none !important;
}
 .container{
    position: relative;
} 
.col-5 h1 {
    position: absolute;
    left: 0px;
    top: 60px;
    height: 231px;
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
}
.col-5 p{
    position: absolute;
    height: 90px;
    left: 0px;
    top: 310px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
}
.col-2 img{
    position: absolute;
    width: 229px;
    height: 153px;
    left: 1101px;
    top: 400px;
    
}
.custom-image img{
    width: 580px;
    height: 644px;
   margin-left: 150px; 
}
.btn-start{
    position: absolute;
    left: 0px;
    top: 430px;
    width: 190px;
    height: 50px;
    background: #5454D4 !important;
    border-radius: 10px !important;
    border: none !important;
}
.oval{
    position: absolute;
    left: 235px;
    top: 430px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    cursor: pointer;
}
.oval img{
  position: absolute;
  left:11px;
  top: 12px;
}
.logos{
    margin-top: 100px;
    margin-bottom: 159px;
}

.custom-leyla{
    margin-bottom: 300px;
    position: relative;
}

.custom-diagram img{
    position: absolute;
    left:0;
    top: 90px;
    width: 167px;
    height: 176px;
}
.col-4 img{
    position: absolute;
    left: 173px;
    top: 0;
    width: 174px;
    height: 473px;
}

.col-6 h2{
    position: absolute;
    top:136px;
    right: 300px;
    height: 57px;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
}
.col-6 p{
    position: absolute;
    top: 216px;
    right: 283px;
    height: 90px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
}

.col-6 a{
    position: absolute;
    top:322px;
    left: 608px;
    height: 22px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #5454D4;
    text-decoration: none;
}

.footer{
    margin-top: 580px;
}
.custom-word{
    position: absolute;
    top: 100px;
    left: 184px;
}
.custom-word h2{
    height: 57px;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
}
.custom-word p{
    height: 60px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
}
.custom-word a{
    height: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #5454D4;
    text-decoration: none;
}
/* images */
.col img{
    position: absolute;
    right: 100px;
    z-index: 1;
}

.card-image{
    position: absolute;
    right: 75px;
    top: 30px;
}

.custom-footer{
    margin-top: 600px;
}
.custom-card img{
    width: 100px;
    height: 69px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.custom-card{
    width: 151px;
    height: 97px;
    background: #fff;
    position: relative;
    margin-left: 135px ;
}
.custom-card-title h4{
    text-align: center;
    height: 36px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.750316px;
    color: #19191B;
}
.custom-card-title p{
    text-align: center;
    height: 48px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.500211px;
    color: #696871;
}
.custom-footer-card{
    margin-top: 150px;
}
.footer-h h1{
    height: 140px;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-left: 40px;
}

.button-footer{
  width: 344px !important;
  height: 50px !important;
  margin-top: 50px;
  border-radius: 10px !important;
} 
.button-footer .left{
    background-color: #5454D4 ;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.button-footer .right{
    background-color: #F7F7FB;
    font-weight: bold;
    font-size: 16px;
}
 /* end */
.end{
    margin-top: 98px;
}
.ender{
    margin-left: 60px;
}

.custom-end-card{
    width: 330px !important;
    height: 421px !important;
    background-color: #F8F8F8;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 20px;
}
.custom-end-card h6{
    margin-top: 34px;
    margin-bottom: 22px;
    height: 28px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.562737px;
    color: #696871;
}
.custom-end-card h1{
    margin-bottom: 28px;
    height: 56px;
    font-weight: bold;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: -1.03448px;
    color: #1D293F;
}

.button-end button{
    margin-top: 36px;
    width: 285px !important;
    height: 50px !important ;
    background-color: #fff ;
    color: #5454D4;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;

}

.custom-end-card:nth-child(2){
    width: 376px !important;
    height: 473px !important;
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    border-radius: 10px;
    margin-top: 0px !important;
}

.custom-end-card:nth-child(2) button{
    background: #9F3919;
}