@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: rgb(139, 60, 218);
}

.btn {
  border: none;
  background-color: #333;
  color: #eee;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(116, 0, 0);
}
